{%extends "/home.html" %}
{% block script %}
	{{ super() }}
    
{% endblock %}

{% block content %}
{% if song %}
<p>hahahah</p>
<h1>{{song.title}}</h1>
<h2>{{song.artist}} - {{song.album}}</h2>

<div class="playButton"><img alt="{{url_for('static', path='play.jpg')}}" src="{{url_for('static', path='play.jpg')}}" width="30px"></div>
<audio class="audioPlayer" controls hidden> {{song.content}}</audio>
<script  type="text/javascript" src="{{ url_for('static', path='script.js')}}"></script>
<div data-video="m876TGnxFxQ"
data-autoplay="0"
data-loop="1"
id="youtube-audio">
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>
{% endif %}
{% endblock %}